/* Navbar.module.css */

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #212121;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.search input {
  padding: 0.5rem;
  border: none;
  width: 350px;
  border-radius: 5px;
}

.userProfile {
  display: flex;
  align-items: center;
}

.userName {
  margin-right: 1rem;
}

.profilePhoto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.notification {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff85;
  margin-right: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer; /* Add cursor pointer for interactivity */
}

.notification img {
  width: 19px;
  height: 19px;
  object-fit: cover;
}
